DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jobbersfind?schema=public"
JWT_SECRET="super-secret-jwt-key-change-me-in-production"
PORT=5000
# je vais vous founir les vrais clés d'API plus tard
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"